.about{
    color: #ffffff;
    width: 80vw;
}

#abt-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}

#About-sec{
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-second-image{
    background: #080D15;
    box-shadow: 0px 0px 10px 10px #080D15;
    width: 300px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-second-image>img{
    width: 300px;
    height: 350px;
}

.about-content{
    width: 50%;
    padding-left: 3rem;
}

.about-content>h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

#download-btn{
    border-radius: 50px;
    width: 150px;
    color: #021319;
    background: #F4B675;
    height: 2rem;
    cursor: pointer;
    margin-top: 3rem;
}

@media (max-width: 680px) {
    .about{
        width: 90vw;
    }

    #About-sec{
        flex-direction: column;
    }

    .my-second-image{
        margin-bottom: 2rem;
    }

    .about-content{
        width: 100%;
    }
}