@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #02131A; /* navbar bg */
    --secondary-color: #F4B675; /* activer text, hover, header*/
    --background-color: #16242C; /*bg, divs bg, etx*/
    --text-color: #ffffff; /* text color */
    --secondary-text-color: #898E90; /*sub text color, lines*/
    --highlight-text-color: #B0865A; /*highlight text color*/
    --max-width: 1200px;
    --font-family: 'Inter', sans-serif; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background: var(--background-color); */
    color: var(--text-color);
    font-family: var(--font-family);
}

/* Global conatiner */
.container{
    max-width: var(--max-width);
    margin: auto;
    padding: 0 20px;
    background: var(--background-color);
}

#download-btn, #send-btn{
    background: var(--secondary-color);
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.heading{
    text-align: center;
    padding-top: 2rem;
}

.highlight-text{
    color: var(--secondary-color);
}

.sub-heading{
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
    color: var(--secondary-color);
}

.card-content{
    font-size: 13px;
}

@media (max-width: 680px) {
    .sub-heading{
        font-size: 13px;
    }
    
    .card-content{
        font-size: 10px;
    }
}