#home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: url(../assets/homePagesubbackgroundImg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 3rem ;
}

.profile-image1{
    width: 320px;
    height: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image1>img{
    width: 100%;
    height: auto;
    max-width: 320px;
    max-height: 460px;
}

.home-content{
    padding-left: 30px;
}

#home-wlcm{
    color: var(--secondary-color);
    font-size: 25px;
    font-weight: 400;
}

#home-name{
    padding: 10px 0px;
    font-size: 60px;
    font-weight: 400;
}

#home-designation{
    color: var(--highlight-text-color);
    font-size: 20px;
}

@media (max-width: 680px) {
    #home{
        height: auto;
        padding: 50px 20px;
        background-size: cover;
    }

    .profile-image1{
        width: 150px;
        height: auto;
        border: solid 1px #ffffff;
    }

    #home-wlcm{
        color: var(--secondary-color);
        font-size: 15px;
    }
    
    #home-name{
        font-size: 30px;
    }
    
    #home-designation{
        font-size: 13px;
    }
}