.navbar-container{
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
}
.navbar {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.navbar-links {
    width: 75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links li{
    list-style-type: none;
}

.navbar-links li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: large;
    transition: color 0.2s ease-in-out;
}

.navbar-links li a.active{
    color: var(--secondary-color);
}


.hamburger {
    display: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
    cursor: pointer;
    padding-left: 20px;
}

/* Mobile Responsiveness */
@media (max-width: 680px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: max-content;
    }

    .hamburger {
        display: block;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        text-align: center;
    }
    
    .navbar-links li {
        padding: 10px 0;
    }
    
    .navbar-links li a{
        font-size: 15px;
    }

    .navbar-links a:hover{
        color: var(--secondary-color);
    }

    .navbar-links.open {
        display: flex;
    }
}
