#projects{
    width: 100%;
    /* height: fit-content; */
}

#projects-sec{
    display: grid;
    grid-template-columns: 500px;
    gap: 30px;
    padding: 3rem 2rem;
    justify-content: center;
}

.project-card{
    padding: 20px;
    background: var(--primary-color);
    height: fit-content;
    text-align: start;
}

#know-more-btn{
    display: block;
    justify-self: end;
}

@media (max-width: 680px) {
    #know-more-btn{
        padding-top: 20px;
        width: 25px;
        height: auto;
    }
}

/* © 2025 Arthi. All rights reserved. Unauthorized copying prohibited. */
